<%- include('includes/head') %>
<%- include('includes/nav')  %>
    
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Login</h1>
            <p class="texte-center lead">Seus contatos estão abaixo</p>

            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">Um erro qualquer</div>
                </div>
            </div>

            <div class="responsive-table">
                <div class="table">
                    <tr>
                        <td>Fellipe</td>
                        <td>Reis</td>
                        <td>119736282738</td>
                        <td>reisfelliepe11@gmail.com</td>
                    </tr>
                    
            </div>
            
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>


<%- include('includes/footer') %>