<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>
<body>

    <section class="container">
        <h1>Aqui é um card que irá revelar uma ação programada</h1>
        <p>Seja bem vindo ao MisteryCard onde você vai experienciar um gostinho do poder da programação, nesse simples website. Aqui nós iremos tratar os dados de maneira intencional, à praticar os exercícios a fim de memorizar conceitos do JavaScript! Sinta-se à vontade para testar e se divertir aprendendo.</p>

    </section>

    <script src="assets/js/bundle.js"></script>
</body>
</html>